:root {
  --primary-100: #3e97ca;
  --primary-200: #b6ccd8;
  --primary-300: #3b3c3d;
  --accent-100: #71c4ef;
  --accent-200: #00668c;
  --text-100: #313d44;
  --text-200: #1d1c1c;
  --bg-100: #f9f9f9;
  --bg-200: #eeeeee;
  --bg-300: #bebdba;
}

[data-theme='dark'] {
  --primary-100: #7ca8d3;
  --primary-200: #2c2c2c;
  --primary-300: #1d1d1d;
  --accent-100: #005f6b;
  --accent-200: #003f5c;
  --text-100: #e9e9e9;
  --text-200: #e0e0e0;
  --bg-100: #222222;
  --bg-200: #2a2a2a;
  --bg-300: #3a3a3a;
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.8;
}

.con {
  position: relative;
}

a {
  color: var(--text-100);
  text-decoration: none;
}

a:hover,
a.active {
  color: var(--text-200);
}

/* scroller */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* ul */
ul {
  list-style: none;
  margin-block: 0em;
  padding-inline-start: 0px;
}

.fl-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*
 * tooltip
 */
.tooltip {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  background-color: var(--text-100);
  color: var(--bg-200);
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  z-index: 999;
  transform: translate(-0%, -250%);
  font-size: 1.8rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}